<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>
  <div class="main">
    <header>
      <div class="banner">
        <h1>Vince Lanzilotti's Portfolio</h1>
      </div>
    </header>
    <nav>
      <a href="/resume">Resumé</a>
      <a href="/projects">Projects</a>
      <a href="/github">GitHub</a>
    </nav>
      <div class="photo">
        <img class="myphoto" src="https://i.imgur.com/I2hrbxI.jpg" alt="photo">
      </div>
      <div class="paragraph">
        <p>Welcome to my portfolio! My name is Vince Lanzilotti and I'm beginning my career in software development. I've been a teacher for about 10 years when I decided it was time for a change. Although I'm relatively new to this field, I really enjoy it and look forward to growing. I've attached a couple links to some previous projects for you to check out.</p>
        <p>Feel free to contact me via email at vince.lanzilotti@gmail.com, phone (484)-868-1131, or visit my <a href="http://www.linkedin.com/in/vincelanzilotti">LinkedIn</a> page.</p>
      </div>
    <footer>
      <p>Thanks for checking out my portfolio!</p>
    </footer>
  </div>
  </body>
</html>
